<div [@myAnimationTrigger]="state" class="contact-page">
  <div class="contact-form">
    <h1>Contact United Mission International</h1>
    <span>Get in touch with United Mission International to learn more about our work and how you can get
      involved.</span>
    <form [formGroup]="emailForm">
      <div class="input-fields-wrapper">
        <div class="name-email-wrapper">
          <div class="input"><input formControlName="name" placeholder="Name" class="name" type="text" name="name">
          </div>
          <div class="input"><input formControlName="email" placeholder="Email" class="email" type="text" name="email">
          </div>
        </div>
        <div class="flex"><input formControlName="subject" placeholder="Subject" class="subject" type="text"
            name="subject"></div>
        <div class="flex"><textarea formControlName="message" placeholder="Message" class="message"></textarea></div>
        <button (click)="onSubmit()">Send</button>
      </div>
    </form>
  </div>
</div>
