<div #imageSlider [style.height]="caroselHeight" class="carousel">
  <ng-container *ngFor="let slide of slides; let i = index">
    <div *ngIf="i === currentSlide" @carouselAnimation class="slide-wrapper">
      <img [src]="slide.src" class="slide" />
      <div *ngIf="displayImageText" class="image-text">
        <div class="image-text-positioning">
          <ul id="menu">
            <li class="txt fade-in-text">
              <span class="txt header">{{slide.text.header}}</span>
            </li>
            <li class="txt fade-in-text-two"><span class="txt description">{{slide.text.description}}</span></li>
          </ul>

        </div>
      </div>
    </div>
  </ng-container>

  <button class="control prev" (click)="onPreviousClick('click')">
    <span class="arrow left"></span>
  </button>
  <button class="control next" (click)="onNextClick('click')">
    <span class="arrow right"></span>
  </button>
</div>
