<div [style.height.px]="viewPortHeight" class="bring-hope-section">
  <div class="bring-hope-content-wrapper">
    <div class="content">
      <h1 class="header">We can bring hope around the world</h1>
      <div class="hope-options">
        <div class="option">
          <div class="option-content">
            <img [src]="'https://d337lrhmtj9qpq.cloudfront.net/children.webp'" />
            <h3>Feed Our Children</h3>
            <p>According to the World Food Programme, 29% of children in rural areas of Kenya suffer from malnutrition.
            </p>
            <a>Become a volunteer</a>
          </div>
        </div>
        <div class="option">
          <div class="option-content">
            <img [src]="'https://d337lrhmtj9qpq.cloudfront.net/clean-water.webp'" />
            <h3>Provide clean water</h3>
            <p>World Vision estimates1,000 children under age 5 die every day from diarrhea caused by contaminated
              water,
              poor sanitation, and improper hygiene.</p>
            <a>Join the movement </a>
          </div>
        </div>
        <div class="option">
          <div class="option-content">
            <img [src]="'https://d337lrhmtj9qpq.cloudfront.net/please-give.webp'" />
            <h3>Hurricane relief</h3>
            <p>Hurricane Ian and other severe tropical storms have drastically impacted inhabitants of Florida.</p>
            <a>Bring hope</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
