<div [@myAnimationTrigger]="state" class="donate-page">
  <h1 class="header">Join the movement. Bring hope around the world.</h1>
  <span class="txt">We want to thank each and every one of you who helped us make our Kenya January trip
    possible.</span>
  <span class="txt">Please support our current mission by donating on this page.</span>
  <img [src]="'https://d337lrhmtj9qpq.cloudfront.net/donate.webp'" />
  <div class="widget">
    <script src="https://donorbox.org/widget.js" paypalExpress="true"></script><iframe
      src="https://donorbox.org/embed/globalreliefefforts" name="donorbox" allowpaymentrequest="allowpaymentrequest"
      seamless="seamless" frameborder="0" scrolling="no" height="900px" width="100%"
      style="max-width: 500px; min-width: 250px; max-height:none!important"></iframe>
  </div>
</div>
