<div class="donate-page">
  <h1 class="header">Join the movement. Bring hope around the world.</h1>
  <span class="txt">We want to thank each and every one of you who helped us make our Kenya January trip
    possible.</span>
  <span class="txt">Please support our current mission by donating on this page.</span>
  <img
    [src]="'https://static.wixstatic.com/media/bf1fba_17edb6ee815e45829e0af87428889a1a~mv2.jpeg/v1/fill/w_1356,h_896,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/bf1fba_17edb6ee815e45829e0af87428889a1a~mv2.jpeg'" />


</div>
