<div class="about-page">
  <h3>About Us</h3>
  <p>United Mission International Relief works with dedicated volunteering specialists that are familiarized with the
    areas of extreme need we have targeted to provide with our service. We work with different kinds of missions and we
    like to treat each mission with special individual attention. At United Mission we strive to get the most skilled
    volunteers in their area of concentration. Our construction volunteers are skilled at building and repairing houses,
    schools, and community structures. Our health volunteers are experts at providing education to help prevent unwanted
    pregnancies, and battle common issues like diabetes, high blood pressure, and other diseases. Our medical volunteers
    are trained to give free medical attention to those that are unable to obtain medical assistance. Our field
    specialist volunteers have unique relationships with local governments to facilitate assistance projects, and are
    dedicated to help others to the best of their ability.</p>
  <p>United Mission International is committed to work towards the development of short and long-term solutions with
    those affected, and eliminate extreme poverty in the poorest and most vulnerable communities of many countries. We
    are not interested in having our donors’ money sitting in an account while so many are in need. Instead, we are
    devoted to use all donations wisely to work hard at delivering the needed aid to get the results the people need.
  </p>
</div>
