.team-page {
  text-align: center;
  background-color: #f5f5f5;
  padding-top: 20px;

  .team-lbl {
    font-size: 30px;
    margin-bottom: 80px;
    margin-top: 50px;
    font-family: poppins-semibold, poppins, sans-serif;
    font-weight: 100;
    color: #555555;
  }

  .team-list {
    width: 1002px;
    margin: 0 auto;

    .team-member-wrapper {
      max-width: 334px;
      max-height: 385px;
      width: 100%;
      height: 100%;
      display: inline-block;
      margin-bottom: 80px;

      .team-member {

        .image-holder {
          border-radius: 100%;
          width: 216px;
          height: 217px;
          margin: 0 auto;
          position: relative;
          margin-bottom: 10px;

          img {
            height: 100%;
            width: 100%;
            background-position: center;
            background-size: contain;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 100%;
          }
        }

        .name {
          font-size: 20px;
          font-family: poppins-semibold, poppins, sans-serif;
          margin-bottom: 10px;
        }

        .position {
          font-size: 14px;
          font-family: helvetica-w01-light, helvetica-w02-light, sans-serif;
          font-weight: 100;
        }

        span {
          display: block;
          color: #0f0f0f;

        }
      }
    }
  }
}

@media only screen and (max-width: 820px) {

  .team-page {
    .team-list {
      width: 100%;
    }
  }
}


@media only screen and (max-width: 600px) {
  .team-page {

    .team-lbl {
      margin-bottom: 50px;
      margin-top: 20px;
    }

    .team-list {
      width: 100%;

      .team-member-wrapper {
        margin-bottom: 50px;
      }
    }
  }
}
