<div class="footer">
  <div class="footer-wrapper">
    <div class="footer-details">
      <div class="contact-us">
        <span class="txt">Contact us</span>
        <div class="email-wrapper">
          <div class="email-icon"></div>
          <div class="email-details">
            <label class="email-lbl">Email us</label>
            <a class="email">info@unitedmi.org</a>
          </div>
        </div>
      </div>
      <div class="follow-us">
        <span class="txt">Follow us</span>
        <div class="social-media-icons">
          <a class="twitter-x-icon"></a>
          <a class="facebook-icon"></a>
          <a class="instagram-icon"></a>
          <a class="snapchat-icon"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="border"></div>
  <span class="united-mission-txt">©2024 by United Mission International.</span>
</div>
