<div class="our-mission-section">
  <img
    [src]="'https://static.wixstatic.com/media/bf1fba_5dff64e7cbcb42d9b41e4bda50d8c91c~mv2.jpg/v1/fill/w_1236,h_1300,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/bf1fba_5dff64e7cbcb42d9b41e4bda50d8c91c~mv2.jpg'" />
  <div class="our-mission">
    <div class="txt-wrapper">
      <h1>OUR MISSION</h1>
      <p>"Our goal is to bring relief and hope to those who suffer need, and are hopeless to a better future. We are
        aware
        of our limitations, but we know that together we can do much more to help those who are in need. We work
        together
        to improve people's lives, education resources, and medical assistance opportunities. United Mission is
        committed
        to using every resource purchased or donated where is needed. Our work and effort is rewarded when we see
        suffering people, experience hope, joy and life purpose. That is why we exist, and so we are United Mission
        International."
      </p>
      <span>- José Santana</span>
      <a class="donate-btn">Donate Now</a>
    </div>
  </div>
</div>
