.next-mission-page {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;

  .scroll-div {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #ffffff;
    float: left;
    overflow: hidden;
    white-space: nowrap;

    .next-mission-pages-wrapper {
      display: flex;
      width: 100%;
      height: 100%;

      .center-page {
        display: flex;
        align-items: center;
        justify-content: center;

        .mission-content {
          z-index: 1;

          .location {
            font-size: 37px;
            font-family: poppins-semibold, poppins, sans-serif;
            opacity: .6;
          }

          .date {
            font-family: poppins, poppins, sans-serif;
            opacity: .6;
          }

          // .image-wrapper {
          //   cursor: pointer;
          // }

          span {
            font-family: futura-lt-w01-book, sans-serif;
            font-size: 18px;
            color: #aaaaaa;
            padding-top: 40px;
            display: block;
            white-space: break-spaces;
          }

          .missions-link {
            font-family: poppins-semibold, poppins, sans-serif;
            font-size: 19px;
            padding-top: 20px;
            opacity: .6;
            display: block;
            cursor: pointer;
          }
        }

        img {
          border-radius: 50%;
          border-style: solid;
          display: block;
          overflow: hidden;
          width: 678px;
          height: 448px;
          margin: 0 auto;
          margin-bottom: 40px;
          box-shadow: 0px 5px 21px 7px rgba(0, 0, 0, 0.5);
          margin-top: 50px;
          cursor: pointer;
        }
      }
    }

    .left-page,
    .center-page,
    .right-page {
      min-width: 100%;
      width: 100%;
      height: 100%;
      position: relative;
      text-align: center;
    }
  }

  .arrow {
    display: block;
    border-left: 0.1em solid black;
    border-bottom: 0.1em solid black;
    width: 0.5em;
    height: 0.5em;

    &.left {
      transform: rotate(45deg);
    }

    &.right {
      transform: rotate(225deg);
    }
  }

  .controls-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .control {
    border: none;
    background-color: transparent;
    outline: 0; // remove blue outline border, but make sure they are still focussable for accessibility
    position: absolute;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    color: white;
    font-weight: bold;
    font-size: 3em;
    user-select: none;
    height: 100%;
    opacity: 80%;
    z-index: 200;
    // opacity effect on hover
    transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);

    &:hover,
    &:focus {
      opacity: 1;
    }

    /* Position the buttons */
    &.next {
      right: 0;
    }

    &.prev {
      left: 0;
    }
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 30px;
    width: 30px;
    background-color: #000;
    opacity: .8;
    cursor: pointer;
    border-radius: 100%;
    background-image: url(../../../assets/icons/close-icon.png);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
  }
}


@media only screen and (max-width: 600px) {
  .next-mission-page {
    .scroll-div {
      .next-mission-pages-wrapper {
        .center-page {
          .controls-wrapper {
            display: none;
          }

          .controls-wrapper-mobile {
            width: 100%;
            height: 50px;
            margin-bottom: 20px;
            padding-left: 40px;
            padding-right: 40px;

            .control {
              border: none;
              background-color: transparent;
              outline: 0; // remove blue outline border, but make sure they are still focussable for accessibility
              position: absolute;
              cursor: pointer;
              display: flex;
              flex-direction: column;
              justify-content: center;
              padding: 10px;
              color: white;
              font-weight: bold;
              font-size: 3em;
              user-select: none;
              height: 5%;
              opacity: 80%;
              z-index: 200;
              // opacity effect on hover
              transition: opacity 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);

              &:hover,
              &:focus {
                opacity: 1;
              }

              span {
                font-size: 30px;
              }

              /* Position the buttons */
              &.next {
                right: 40px;
              }

              &.prev {
                left: 40px;
              }
            }
          }

          .mission-content {
            span {
              padding-top: 0px;

            }
          }

          img {
            width: calc(100% - 80px);
            height: revert-layer;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
